
.DS_Store
/gui/__pycache__
/hardware/__pycache__
/utils/__pycache__
*.pyc

# Racelogic data (copyrighted - obtain from racelogic.co.uk)
/usb_data/.opentpt/lap_timing/tracks/racelogic.db
/usb_data/.opentpt/lap_timing/tracks/racelogic/

# Test coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
