[Unit]
Description=openTPT Main Display Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/open-TPT/main.py 
WorkingDirectory=/home/pi/open-TPT
StandardOutput=journal
Restart=always
Environment=SDL_VIDEODRIVER=KMSDRM
Environment=SDL_NOMOUSE=1
Environment=PYGAME_HIDE_SUPPORT_PROMPT=1

[Install]
WantedBy=multi-user.target
