[Unit]
Description=openTPT Main Display Service
DefaultDependencies=no
After=sysinit.target splash.service usb-patch.service
Wants=can-setup.service

[Service]
Type=simple
# fbi killed by main.py after pygame display is ready
ExecStart=/usr/bin/python3 /home/pi/open-TPT/main.py
WorkingDirectory=/home/pi/open-TPT
User=pi
SupplementaryGroups=gpio i2c spi
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=PYGAME_HIDE_SUPPORT_PROMPT=1
Environment=LD_LIBRARY_PATH=/usr/local/lib
Environment=PYTHONDONTWRITEBYTECODE=1
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=1

[Install]
WantedBy=sysinit.target
