[Unit]
Description=openTPT Main Display Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/open-TPT/main.py
WorkingDirectory=/home/pi/open-TPT
User=pi
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=PYGAME_HIDE_SUPPORT_PROMPT=1
Environment=LD_LIBRARY_PATH=/usr/local/lib
StandardOutput=journal
Restart=always

[Install]
WantedBy=multi-user.target
