[Unit]
Description=Apply USB patch to openTPT (if present)
DefaultDependencies=no
After=local-fs.target mnt-usb.mount
Wants=mnt-usb.mount
Before=splash.service openTPT.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/usb-patch.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
