[Unit]
Description=Setup CAN interfaces for openTPT
DefaultDependencies=no
After=sysinit.target
Before=openTPT.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/can-setup.sh

[Install]
WantedBy=sysinit.target
